ul{
    padding: 0;
}
li{
     list-style-type: none;
}
li a{
    padding: 3px 1px;
    margin: 0px 10px 0 0;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid white;
    transition: 100ms;

}
li a:hover{
    color: #555;
    border-bottom: 3px solid #555;
    transition: 100ms;
}
.active{
    font-weight: bold;
    border-bottom: 3px solid  black !important;
}
.active:hover{
    color: black !important;
    border-bottom: 3px solid  black !important;
    transition: 100ms;
}