ul{
    padding: 0;
}
li{
     list-style-type: none;
}
li a{
    padding: 3px 1px;
    margin: 0px 10px 0 0;
    text-decoration: none;
    color: black;
     transition: 100ms;

}
li a:hover{
    color: #555;
     transition: 100ms;
     font-weight: 700;

}
.active{
    font-weight: 700;
 }
.active:hover{
    color: black !important;
     transition: 100ms;
}

.brand{
    font-size: 1.3rem;
    font-weight: 700;
     padding: 5px !important;
    border:none !important;
     text-align: center !important;

 }
 
.brand:hover{
border:none !important;
color: black !important;

}
 
ul{
    height: 25px;
}