<nav>
    <ul>
        <li >
            <a class="brand" routerLink="">
                  <i class="far fa-star-of-life fa-lg   "></i>
            </a>
    
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="">Home</a>
            <a  routerLinkActive="active" routerLink="notes"> Notes</a>
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="saved">  Inspiration</a>
            <!-- <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="about">About</a> -->
        </li>
    </ul>
    
</nav>
