<div class="container ">

    <app-hero></app-hero>
    <div class="details">
        <h2>Welcome to the inspirational hub</h2>
        <h3>About</h3>
        <p>This is an small project made by <b>Mohamed Zarroug</b> for the porpuse of demonstrating
        front end technology capabelities (Angular 8, CSS, HTML)
        </p>
        <h3>What does it do</h3>
        <p>
            You can explore random quotes and save whatever inspire you and you can create new notes epressing you ideas 
        </p>
        <h3>Todo Next</h3>
<ul>
    <li>Add edit to notes</li>
    <li>Fix unsave quote bug</li>
    <li>Update better form experience for notes</li>
    <li>Include fire base for storage instead of local storage</li>
    <li>Include firebase authentification</li>
    <li>Add pagination to quotes and notes</li>
    <li>Design a better home page to desplay recent notes</li>

</ul>
    </div>
 </div>
